server:
    listen_addr: 127.0.0.1:9890
    log_level: info
dns:
    listen_addr: 127.0.0.1:6363
    domestic_dns:
        - 223.5.5.5
        - 114.114.114.114
    foreign_dns:
        - 8.8.8.8
        - 1.1.1.1
    cache_ttl: 5m0s
    tcp_for_foreign: true
firewall:
    enable_auto: true
    redirect_dns: true
    redirect_http: true
    redirect_https: true
    redirect_ssh: false
    force_proxy_hosts: []
upstream:
    enable: true
    type: socks5
    addr: 127.0.0.1:7891
    username: ""
    password: ""
admin:
    enable: true
    listen_addr: 0.0.0.0:9810
    ui_path: pkg/ui
    ui_embed: false
mitm:
    enable: false
    gid: 8001
    ca_cert_path: certs/ca.crt
    ca_key_path: certs/ca.key
    cert_cache_dir: certs/sites
    site_cert_validity: 168h0m0s
    ca_cert_validity: 8760h0m0s
    whitelist: []
    max_body_size: 2097152
    event_history_size: 10
    llm_event_history_size: 10
