server:
    listen_addr: 127.0.0.1:9890
    admin_port: 8080
    log_level: info
dns:
    listen_addr: 127.0.0.1:6363
    domestic_dns:
        - 114.114.114.114
        - 223.5.5.5
    foreign_dns:
        - 8.8.8.8
        - 1.1.1.1
    ipdb_path: data/geoip.mmdb
    cache_ttl: 5m0s
    tcp_for_foreign: true
proxy:
    socks5: true
    http_tunnel: true
    shadowsocks: false
    shadowsocks_config: null
traffic:
    enable_realtime: true
    enable_history: true
    update_interval: 1s
    db_path: data/traffic.db
firewall:
    enable_auto: false
    redirect_dns: true
    redirect_http: true
    redirect_https: true
upstream:
    enable: false
    type: socks5
    addr: 127.0.0.1:1080
    username: ""
    password: ""
